:root {
  --primary: #6c1fa0;
  --primary-text: #1a1a1a;
  --secondary: #3bb2d6;
  --secondary-text: #ffffff;
  --accent: #39465e;
  --accent-text: #ffffff;
  --border: #000000;
  --background: #251d29;
}
